# Exercise 3.2
Skylar Peven
DSC 530
12/22/2024

In [21]:
import nsfg
from os.path import basename, exists
# Provides functions for working with file and directory paths in a way that is compatible across different operating systems.
# basename: Returns the final component of a path (e.g., the filename).
# exists: Checks if a path exists.


def download(url):
    # Defines a function 'download'.
    filename = basename(url) # Creates a variable that contains the filename of a provided url.
    if not exists(filename):
        # Checks if the file already exits, if not then the neccasary modules are imported the file is downloaded. Prints the name of the downloaded file.
        from urllib.request import urlretrieve

        local, _ = urlretrieve(url, filename)
        print("Downloaded " + local)

# Downloads the python files neccasary for use with the course.
download("https://github.com/AllenDowney/ThinkStats2/raw/master/code/thinkstats2.py")
download("https://github.com/AllenDowney/ThinkStats2/raw/master/code/thinkplot.py")

In [22]:
# Downloads the data necassary for exercise 1.1.
download("https://github.com/AllenDowney/ThinkStats2/raw/master/code/nsfg.py")

download("https://github.com/AllenDowney/ThinkStats2/raw/master/code/2002FemPreg.dct")
download(
    "https://github.com/AllenDowney/ThinkStats2/raw/master/code/2002FemPreg.dat.gz"
)

In [23]:
# Imports nsfg data.
import nsfg

In [24]:
# Ignoring future warnings for a clean output.
import warnings
warnings.filterwarnings('ignore')

In [25]:
# Return n rows of data from nsfg data. Default is 5 rows.
preg = nsfg.ReadFemPreg()
preg.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875

## Exercises

Select the `birthord` column, print the value counts, and compare to results published in the [codebook](https://ftp.cdc.gov/pub/Health_Statistics/NCHS/Dataset_Documentation/NSFG/Cycle6Codebook-Pregnancy.pdf)

In [26]:
# Prints the `birthord` column, prints the value counts.
print(preg.birthord.value_counts().sort_index())

# Doesn't include INAPPLICABLE births of which there were 4445 elements according to the codebook.

birthord
1.0     4413
2.0     2874
3.0     1234
4.0      421
5.0      126
6.0       50
7.0       20
8.0        7
9.0        2
10.0       1
Name: count, dtype: int64

We can also use `isnull` to count the number of nans.

In [27]:
print(preg.birthord.isnull().sum())

4445

Select the `prglngth` column, print the value counts, and compare to results published in the [codebook](https://ftp.cdc.gov/pub/Health_Statistics/NCHS/Dataset_Documentation/NSFG/Cycle6Codebook-Pregnancy.pdf)

In [28]:
# Prints the `prglngth` column, prints the value counts.
print(preg.prglngth.value_counts().sort_index())

prglngth
0       15
1        9
2       78
3      151
4      412
5      181
6      543
7      175
8      409
9      594
10     137
11     202
12     170
13     446
14      29
15      39
16      44
17     253
18      17
19      34
20      18
21      37
22     147
23      12
24      31
25      15
26     117
27       8
28      38
29      23
30     198
31      29
32     122
33      50
34      60
35     357
36     329
37     457
38     609
39    4744
40    1120
41     591
42     328
43     148
44      46
45      10
46       1
47       1
48       7
50       2
Name: count, dtype: int64

To compute the mean of a column, you can invoke the `mean` method on a Series.  For example, here is the mean birthweight in pounds:

In [29]:
# Prints the mean of the totalwgt_lb series.
print(preg.totalwgt_lb.mean())

7.265628457623368

Create a new column named <tt>totalwgt_kg</tt> that contains birth weight in kilograms.  Compute its mean.  Remember that when you create a new column, you have to use dictionary syntax, not dot notation.

In [30]:
# Converts the elements in the 'talwgt_lb' column to kilograms and then createsa  new column with those values.
preg['totalwgt_kg'] = preg.totalwgt_lb / 2.2

# Prints the mean of the totalwgt_kg column.
print(preg.totalwgt_kg.mean())

3.302558389828803

`nsfg.py` also provides `ReadFemResp`, which reads the female respondents file and returns a `DataFrame`:

In [31]:
download("https://github.com/AllenDowney/ThinkStats2/raw/master/code/2002FemResp.dct")
download("https://github.com/AllenDowney/ThinkStats2/raw/master/code/2002FemResp.dat.gz")

In [32]:
resp = nsfg.ReadFemResp()
print(resp)

      caseid  rscrinf  rdormres  rostscrn  rscreenhisp  rscreenrace  age_a  \
0       2298        1         5         5            1          5.0     27
1       5012        1         5         1            5          5.0     42
2      11586        1         5         1            5          5.0     43
3       6794        5         5         4            1          5.0     15
4        616        1         5         4            1          5.0     20
...      ...      ...       ...       ...          ...          ...    ...
7638   11018        1         5         2            5          3.0     34
7639    6075        5         5         3            5          3.0     17
7640    5649        1         5         2            5          5.0     29
7641     501        5         5         3            5          2.0     16
7642   10252        1         5         2            5          2.0     28

      age_r  cmbirth  agescrn  ...  pubassis_i      basewgt  adj_mod_basewgt  \
0        27      902       27  ...           0  3247.916977      5123.759559
1        42      718       42  ...           0  2335.279149      2846.799490
2        43      708       43  ...           0  2335.279149      2846.799490
3        15     1042       15  ...           0  3783.152221      5071.464231
4        20      991       20  ...           0  5341.329968      6437.335772
...     ...      ...      ...  ...         ...          ...              ...
7638     34      811       34  ...           0  3247.445399      3784.333145
7639     17     1014       17  ...           0  2273.211779      2497.234491
7640     29      873       29  ...           0  3247.445399      3569.313710
7641     16     1034       16  ...           0  5304.160818      5954.644352
7642     28      889       28  ...           0  3247.445399      3476.637428

          finalwgt  secu_r  sest  cmintvw  cmlstyr  screentime   intvlngth
0      5556.717241       2    18     1234     1222    18:26:36  110.492667
1      4744.191350       2    18     1233     1221    16:30:59   64.294000
2      4744.191350       2    18     1234     1222    18:19:09   75.149167
3      5923.977368       2    18     1234     1222    15:54:43   28.642833
4      7229.128072       2    18     1233     1221    14:19:44   69.502667
...            ...     ...   ...      ...      ...         ...         ...
7638   6565.818007       2    76     1228     1216    15:57:38   82.907333
7639   4392.385746       2    76     1228     1216    18:23:53   54.044833
7640   6003.228729       2    76     1228     1216    18:42:41   68.168000
7641  10473.623950       2    76     1228     1216    16:02:45   32.717333
7642   5847.356491       2    76     1230     1218    12:45:19   74.061500

[7643 rows x 3087 columns]

`DataFrame` provides a method `head` that displays the first five rows:

In [33]:
resp.head()

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667
1,5012,1,5,1,5,5.0,42,42,718,42,...,0,2335.279149,2846.799490,4744.191350,2,18,1233,1221,16:30:59,64.294000
2,11586,1,5,1,5,5.0,43,43,708,43,...,0,2335.279149,2846.799490,4744.191350,2,18,1234,1222,18:19:09,75.149167
3,6794,5,5,4,1,5.0,15,15,1042,15,...,0,3783.152221,5071.464231,5923.977368,2,18,1234,1222,15:54:43,28.642833
4,616,1,5,4,1,5.0,20,20,991,20,...,0,5341.329968,6437.335772,7229.128072,2,18,1233,1221,14:19:44,69.502667

Select the `age_r` column from `resp` and print the value counts.  How old are the youngest and oldest respondents?

In [34]:
# Prints sorted value count of the 'age_r' column.
print(resp.age_r.value_counts().sort_index())

age_r
15    217
16    223
17    234
18    235
19    241
20    258
21    267
22    287
23    282
24    269
25    267
26    260
27    255
28    252
29    262
30    292
31    278
32    273
33    257
34    255
35    262
36    266
37    271
38    256
39    215
40    256
41    250
42    215
43    253
44    235
Name: count, dtype: int64

We can use the `caseid` to match up rows from `resp` and `preg`.  For example, we can select the row from `resp` for `caseid` 2298 like this:

In [35]:
resp[resp.caseid==2298]

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667

And we can get the corresponding rows from `preg` like this:

In [36]:
preg[preg.caseid==2298]

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb,totalwgt_kg
2610,2298,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,3247.916977,5123.759559,5556.717241,2,18,NaN,6.8750,3.125000
2611,2298,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,3247.916977,5123.759559,5556.717241,2,18,NaN,5.5000,2.500000
2612,2298,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,3247.916977,5123.759559,5556.717241,2,18,NaN,4.1875,1.903409
2613,2298,4,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,3247.916977,5123.759559,5556.717241,2,18,NaN,6.8750,3.125000

How old is the respondent with `caseid` 1?

In [37]:
# Prints the age of the respondent with caseid of 1.
print(resp[resp.caseid==1].age_r)

1069    44
Name: age_r, dtype: int64

What are the pregnancy lengths for the respondent with `caseid` 2298?

In [38]:
# Prints the pregnancy lengths of the respondent with caseid of 2298.
print(preg[preg.caseid==2298].prglngth)

2610    40
2611    36
2612    30
2613    40
Name: prglngth, dtype: int64

What was the birthweight of the first baby born to the respondent with `caseid` 5013?

In [39]:
# Selects only the rows in preg with a caseid of 5013 and pregordr of 1 and prints the birth weight of that row.
print(preg[(preg.caseid==5013)&(preg.pregordr==1)].birthwgt_lb)

5516    7.0
Name: birthwgt_lb, dtype: float64

Exercise 1.2

In [40]:
from __future__ import print_function, division

import numpy as np
import sys

import nsfg
import thinkstats2

import warnings
warnings.filterwarnings('ignore')

from os.path import basename, exists
# Provides functions for working with file and directory paths in a way that is compatible across different operating systems.
# basename: Returns the final component of a path (e.g., the filename).
# exists: Checks if a path exists.

def download(url):
    """Defines a function 'download"""

    filename = basename(url) # Creates a variable that contains the filename of a provided url.
    if not exists(filename):
        # Checks if the file already exits, if not then the neccasary modules are imported the file is downloaded. Prints the name of the downloaded file.
        from urllib.request import urlretrieve

        local, _ = urlretrieve(url, filename)
        print("Downloaded " + local)


def ReadFemResp(dct_file='2002FemResp.dct',
                dat_file='2002FemResp.dat.gz',
                nrows=None):
    """Reads the NSFG Respondent Data.
    
    dct_file: string file name
    dat_file: string file name
    
    Returns the a data frame from the data.
    """

    dct = thinkstats2.ReadStataDct(dct_file)
    df = dct.ReadFixedWidth(dat_file, compression='gzip', nrows=nrows)
    CleanFemResp(df)
    return df


def CleanFemResp(df):
    """Cleans data in given data frame."""
    pass

def ValidatePregnum(resp):
    """Validate pregnum in the respondent file.

    resp: respondent DataFrame
    """

    # Read through the pregnancy frame.
    preg = nsfg.ReadFemPreg()

    # Make the map from caseid to list of pregnancy indices.
    preg_map = nsfg.MakePregMap(preg)
    
    # Iterate through the respondent pregnum series
    for index, pregnum in resp.pregnum.items():
        caseid = resp.caseid[index]
        indices = preg_map[caseid]

        # Check that pregnum from the respondent file equals the number of records in the pregnancy file.
        if len(indices) != pregnum:
            print(caseid, len(indices), pregnum)
            return False

    return True


def main(script):
    """Tests the functions in this module.

    script: string script name
    """
    # Downloads
    download("https://github.com/AllenDowney/ThinkStats2/raw/master/code/2002FemResp.dct")
    download("https://github.com/AllenDowney/ThinkStats2/raw/master/code/2002FemResp.dat.gz")
    download("https://github.com/AllenDowney/ThinkStats2/raw/master/code/2002FemPreg.dct")
    download("https://github.com/AllenDowney/ThinkStats2/raw/master/code/2002FemPreg.dat.gz")

    # Stores the df as resp.
    resp = ReadFemResp()

    # Checks for correct length.
    assert(len(resp) == 7643)
    # Checks for value count.
    assert(resp.pregnum.value_counts()[1] == 1267)
    # Checks for validation of Pregnum.
    assert(ValidatePregnum(resp))

    print('%s: All tests passed.' % script)


if __name__ == '__main__':
    main(sys.argv)

['C:\\Users\\Skylar\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python312\\site-packages\\ipykernel_launcher.py', '--f=c:\\Users\\Skylar\\AppData\\Roaming\\jupyter\\runtime\\kernel-v37b27b654fcf324d067f8eb121f10cd7088daa5ee.json']: All tests passed.